.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-f {
  display: flex;
}
.ai-c {
  align-items: center;
}
.jc-c {
  justify-items: center;
}

.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
